# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-errIpllc3zsFmvac
OWNER_NUMBER=2348129636819
WORKTYPE=private
PREFIX=[!!]
TIMEZONE=Africa/Lagos
OWNER_NAME=☥ℰℳℙℰℛᎾℛ☬ℕUℰℒ☥(𝕬𝖗𝖈𝖍𝖎𝖙𝖊𝖈𝖙 𝖔𝖋 𝕮𝖍𝖆𝖔𝖘)
BOT_NAME=₩₳ɌⱠØɌƉ
RENDER_API_KEY=
