# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-NhGrTn8YHonjg8P1
OWNER_NUMBER=2349120783522
WORKTYPE=private
PREFIX=[??]
TIMEZONE=Africa/Lagos
OWNER_NAME=✴✶  🎀 尺ㄖㄚ卂ㄥ 🎀  ✶✴
BOT_NAME=◦•●◉✿ ᎡϴᎽᎪᏞ ᏢᎻᎪΝͲϴᎷ ᏟϴᎡᎬ ✿◉●•◦
RENDER_API_KEY=rnd_EfKsr5T1O5SiBdnhtxap3Wy4inzE
