# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-NA9FLeb8unlv48WQ
OWNER_NUMBER=2348129636819
WORKTYPE=private 
PREFIX=[??]
TIMEZONE=Africa/lagos 
OWNER_NAME=☥ℰℳℙℰℛᎾℛ☬ℕUℰℒ☥(Architect of Chaos)
BOT_NAME=ℕUℰℒ ᎯℬᎽЅЅ ℕᎾⅅℰ
RENDER_API_KEY=rnd_TQUBMxjJxfSUstD71fuivgqhipCc
